# Игнорирование node_modules директории, где хранятся зависимости проекта
node_modules/
dev/

# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db

# Игнорирование логов и временных файлов
*.log
*.tmp

# Игнорирование скрытых файлов конфигурации
*.swp
*.swo

# Игнорирование файлов окружения
.env

# Игнорирование файлов конфигурации редакторов
.vscode/
.idea/
*.iml

# Игнорирование папок с билдом, если проект собирается
dist/
build/

# Игнорирование пакетов
*.tgz
